* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Early GameBoy";
    src: url(../font/Early\ GameBoy.ttf) format("truetype");
    font-weight: normal; 
    }
@font-face {
    font-family: "Quicksand-Regular";
    src: url(../font/Quicksand-Regular.ttf) format("truetype");
}

@keyframes blink-effect {
    50% {
        opacity: 1;
    }
}

.blink{
    animation: blink-effect 1s step-end infinite;
}

body {
    background-color: #BAB6B3;
}

.container {
    width: 576px;
    height: 960px;
    background-image: url(../image/Gameboy2\ cropped\ 576x960.png);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: none;
    justify-content: center;
}

.invisible {
    opacity: 0;
    outline: none;
}
.btn-invisible {
    opacity: 0;
    outline: none;
}
.btn-invisible:hover {
    cursor: pointer;
}
.btn-visible {
    opacity: 1;
}
.btn-visible:hover {
    cursor: pointer;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡarrow zoneㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.arrow {
    width: 44px;
    height: 44px;
}
.arrow-up {
    position: relative;
    left: 108px;
    top: 85px;
}
.arrow-down {
    position: relative;
    left: 58px;
    top: 176px;
}
.arrow-left {
    position: relative;
    left: -37px;
    top: 130px;
}
.arrow-right {
    position: relative;
    left: 4px;
    top: 130px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡA,B button zoneㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.buttonA {
    border-radius: 36px;
    width: 68px;
    height: 68px;
    position: relative;
    left: 250px;
    top: 104px;
}

.buttonB {
    border-radius: 36px;
    width: 68px;
    height: 68px;
    position: relative;
    left: 88px;
    top: 144px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/*ㅡㅡㅡㅡㅡselect, start, power button zoneㅡㅡㅡㅡㅡ*/
.select{
    border-radius: 30px;
    width: 64px;
    height: 16px;
    position: relative;
    left: -163px;
    top: 262px;
    transform: rotate(334deg);
}

.start{
    border-radius: 30px;
    width: 64px;
    height: 16px;
    position: relative;
    left: -143px;
    top: 260px;
    transform: rotate(334deg);
    background-color: #5e5c5f;
    color: #5e5c5f;
    border: none;
}

.start:focus, .start:active{
    border: none;
    outline: none;
}


.power-button {
    position: relative;
    top: 56px;
    left: 82px;
    width: 104px;
    height: 24px;
    border-radius: 30px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡkey info zoneㅡㅡㅡㅡㅡㅡㅡㅡ */
.keyinfo-btn {
    text-align: center;
    font-weight: bold;
    color: #636363;
    font-family: Quicksand-Regular;
    font-size: 15px;
    background-color: #8C8B89;
    border: none;
    width: 104px;
    height: 20px;
    border-radius: 30px;
    position: absolute;
    transform: translate(154px, 58px);
}

.speech-bubble {
    padding: 20px;
    color: #BAB6B3;
    width: 200px;
    height: 170px;
	position: absolute;
    transform: translate(400px,40px);
	background: #565756;
	border-radius: 15px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 20%;
	left: 0;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #565756;
	border-left: 0;
	margin-left: -0.625em;
	margin-top: -0.625em;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

div > span {
    font-family: "Early GameBoy";
}

ul {
    list-style: none;
}

.game-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(6px,100px);
    background-color: #6A801C;
    color: black;
    font-size: 0.66rem;
    z-index: 1;
}

.score {
    width: 100%;
    height: 50%;
    align-content: center;
    text-align: center;
    font-size: 1.6rem;
}

.upper-body { 
    width: 100%;
    height: 50%;
}

.lower-body {
    width: 100%;
    height: 50%;
}

.display-container {
    flex-wrap: wrap;
    background-color: #6A801C;
    border: 2px solid black;
    width: 269px;
    height: 250px;
    margin: 0 auto;
    margin-top: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-display {
    position: relative;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
}

.inner-display{
    display: flex;
}

.inner-display > ul {
    background-color: #6A801C;
    border: 2px solid black;
    width: 124px;
    height: 244px;
}

.inner-display > ul > li {
    width: 100%;
    height: 5%;
}

.inner-display > ul > li > ul {
    height: 100%;
    display: flex;
}

.inner-display > ul > li > ul > li {
    /* margin: 1px; */
    width: 100%;
    height: 100%;
    border: 1px solid #6A801C;
}

.nextbox {
    font-size: 1.6rem;
    width: 100%;
    height: 50%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.nextbox > ul {
    width: 100%;
    height: 30%;
}

.nextbox > ul > li {
    position: relative;
    top: 10px;
    left: 24px;
    width: 55%;
    height: 35%;
}

.nextbox > ul > li > ul {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nextbox > ul > li > ul > li {
    width: 100%;
    height: 100%;
    border: 1px solid #6A801C;
}

.tree {
    background: black;
}
.square {
    background: black;
}
.bar {
    background: black;
}
.zee {
    background: black;
}
.see {
    background: black;
}
.elLeft {
    background: black;
}
.elRight {
    background: black;
}

.wave {
    animation-name: wave;
    animation-duration: 300ms;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    /* transition: 0.5s; */
}

@keyframes wave {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.power-on {
    transition: 0.5s;
}

.battery-LED {
    border-radius: 60px;
    position: absolute;
    transform: translate(86px,238px);
    width: 19px;
    height: 19px;
    background-color: #323233;
}

.off-switch {
    position: absolute;
    transform: translate(87px,30px);
    width: 16px;
    height: 16px;
    border-radius: 60px;
    background-color: #868489;
}

.off-hider {
    position: absolute;
    transform: translate(87px,38px);
    width: 16px;
    height: 8px;
    background-color: #565756;
}

.on-hider {
    position: absolute;
    transform: translate(110px,30px);
    width: 18px;
    height: 8px;
    background-color: #BAB6B3;
}

.click-alert {
    color: #555555;
    opacity: 0;
    position: absolute;
    transform: translate(188px,56px);
    font-weight: bold;
    animation: blink-effect 1s step-end infinite;
}