* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
}

.game-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}

.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}

.score {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2rem;
}

.inner-display > ul {
    border: 1px solid #333;
    width: 150px;
    margin: 0 auto;
}

.inner-display > ul > li {
    width: 100%;
    height: 15px;
}

.inner-display > ul > li > ul {
    display: flex;
}

.inner-display > ul > li > ul > li {
    width: 15px;
    height: 15px;
    outline: 1px solid lightgray;
}

.nextbox {
    width: 75px;
    height: 45px;
    align-items: center;
    text-align: center;
}

.nextbox > ul > li {
    width: 100%;
    height: 15px;
}

.nextbox > ul > li > ul {
    display: flex;
    text-align: center;
}

.nextbox > ul > li > ul > li {
    width: 15px;
    height: 15px;
    outline: 1px solid lightgray;
}

.tree {
    background: #67c23a;
}
.square {
    background: #2c82c9;
}
.bar {
    background: salmon;
}
.zee {
    background: #e6a23c;
}
.see {
    background: #46c346;
}
.elLeft {
    background: #8e44ad;
}
.elRight {
    background: #16a085;
}


@keyframes bomb {
    50% {
        opacity: 0;
        width: 50%;
    }
}

.wave {
    animation-name: wave;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    transition: 0.5s;
}